*.o
*.lo
*.la
*.swp
*.tar.gz
aclocal.m4
config.log
config.status
config.sub
config.h.in
stamp-h1
configure
depcomp
missing
autom4te.cache
config.guess
install-sh
libtool
ltmain.sh
m4
.libs
.deps
Makefile
Makefile.in
src/bin/webigator
src/bin/webigator-client
src/test/test-webigator
